{% extends "layout.html" %}

{% block title %}
Password Security - CyberGuard
{% endblock %}

{% block content %}

<section class="password-tool">

    <div class="tool-header">

        <p class="eyebrow">PASSWORD SECURITY</p>

        <h1>Check your password strength</h1>

        <p>
            Test how strong your password is and learn how to
            make it more secure.
        </p>

    </div>


    <div class="password-card">

        <label for="password">
            Enter a password
        </label>

        <input
            type="password"
            id="password"
            placeholder="Enter your password"
            autocomplete="off"
        >


        <div class="strength-container">

            <div class="strength-bar">
                <div id="strength-bar-fill"></div>
            </div>

            <p id="strength-text">
                Enter a password to check its strength.
            </p>

        </div>


        <div class="requirements">

            <h2>Password Requirements</h2>

            <ul>

                <li id="length">
                    At least 8 characters
                </li>

                <li id="uppercase">
                    Contains an uppercase letter
                </li>

                <li id="lowercase">
                    Contains a lowercase letter
                </li>

                <li id="number">
                    Contains a number
                </li>

                <li id="special">
                    Contains a special character
                </li>

            </ul>

        </div>

    </div>

</section>


<script src="{{ url_for('static', filename='js/password.js') }}"></script>

{% endblock %}
